name: CI

on: [push, pull_request]

jobs:
  build:
    name: Build and test
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: Build
        run: zig build -Dmimmick-broken-cross-compiled-llvm-ar-behaviour=true
      - name: Test
        run: zig build -Dmimmick-broken-cross-compiled-llvm-ar-behaviour=true test
  test_redis:
    name: Test Redis
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: Build
        run: zig build -Dmimmick-broken-cross-compiled-llvm-ar-behaviour=true
      - name: Fetch Redis
        uses: actions/checkout@v3
        with:
          repository: moosichu/redis
          ref: moosichu/test-zar
          path: redis
      - name: Build Redis Linux
        run: make CC="zig cc -target x86_64-linux-musl" CXX="zig c++ -target x86_64-linux-musl" AR="${GITHUB_WORKSPACE}/zig-out/bin/zar" RANLIB="zig ranlib" uname_S="Linux" uname_M="x86_64" USE_JEMALLOC=no USE_SYSTEMD=no
        working-directory: redis
      - name: Clean
        run: make clean
        working-directory: redis
      - name: Build Redis macOS
        run: make CC="zig cc -target x86_64-macos" CXX="zig c++ -target x86_64-macos" AR="${GITHUB_WORKSPACE}/zig-out/bin/zar" RANLIB="zig ranlib" uname_S="Darwin" uname_M="x86_64" USE_JEMALLOC=no USE_SYSTEMD=no
        working-directory: redis
  test_io_errors_handled:
    name: Test handled errors are actually handled
    timeout-minutes: 15
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2
      - name: Build
        run: zig build -Dmimmick-broken-cross-compiled-llvm-ar-behaviour=true -Dtest-errors-handled=true
